//= blocks/head.html
<body>
	<span class="snake-score">Your score: <span class="snake-score__value">0</span></span>
	<span class="snake-last-score">Your last score: <span class="snake-last-score__value">0</span></span>
	<canvas id="snake-canvas" width="600" height="400"></canvas>
</body>
//= blocks/scripts.html
</html>
